<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Add user</title>
<body>
<h1> Add User: </h1>
<form th:method="POST" th:action="@{/}">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" required><br><br>
    <br/>
    <label for="lastName">Last Name: </label>
    <input type="text" id="lastName" name="lastName" required><br><br>
    <br/>
    <label for="age">Age: </label>
    <input type="text" id="age" name="age" required><br><br>
    <br/>
    <input type="submit" value="Add User">
</form>
</body>
</html>